.sellerCardContainer {
    max-width: 95%;
    border-radius: 8px;
    .containerInfo {
        .sellerImgContainer {
            z-index: 3;
            min-width: 150px;
            min-height: 150px;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            max-width: 150px;
            max-height: 150px;
            overflow: hidden;
            background-color: aqua;
            margin-bottom: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 65%;
                height: 65%;
                color: black;
            }
        }
    }
    hr {
        margin-top: 36px;
        height: 1px;
        width: 100%;
        background-color: black;
    }
}

.sellerCardContainer *, .sellerCardContainer {
    z-index: 3;
}