.intructionBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-image: url('../../images/muffinsBack.jpg');
    background-size: cover;
    h2 {
        align-self: center;
    }
    p {
        max-width: 50%;
    }
    a{
        font-weight: 600;
        text-decoration: underline;
        transition-duration: 0.2s;
    }
    a:hover {
        color: #525252;
    }
}

#variant-left {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}

#variant-left:hover {
    background-color: rgba($color: #000000, $alpha: 0);
}