.cardContainer {
    border-radius: 10px;
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
    display: flex;
    align-items: flex-end;
    background-color: rgba(255, 255, 255, 0);
    height: max-content;
    overflow: hidden;
}

.cardContentContainer {
    position: relative;
    gap: 11px;
    button {
        margin-top: 16px;
    }
    background: linear-gradient(rgba(0,2,2, 0.1), 15%, rgba(0,0,0, 0.6), 90%, rgba(0,2,2, 0.05)); 
    color: white;
    z-index: 3;
}

/*
    linear-gradient(rgba(0,2,2, 0.5), 15%, rgba(0,0,0, 0.6), 90%, rgba(0,2,2, 0.05));
*/

.cardContentContainer * {
    z-index: 3;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
}