.BlogPostContainer {
    min-height: 80vh;
    align-items: start;
    img {
        max-width: 550px;
        height: auto;
        width: 100%;
        border-radius: 1rem;
        margin: 0 auto;
        margin-top: 2rem;
    }
}

.blogLink {
    text-decoration: underline 2px;
    transition-duration: 0.2s;
}

.blogLink:hover {
    color: #ada400
}