@media (max-width: 767px) {
    #articleContainer {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: wrap;
        #img-card {
            width: 400px;
            height: auto;
        }
        div {
            #shortDescription {
                width: 100%;
                text-align: justify;
                max-width: 100%;
            }
        }
        #itemsContainer {
            width: 100%;
            justify-content: center;
            ul {
                width: 100%;
                margin-bottom: 1rem;
            }            
        }
    }
}

@media (max-width: 421px) {
    #articleContainer {
        max-width: 95%;
        flex-wrap: wrap;
    }
}

#articleContainer {
    height: max-content;
}