#nav {
    background-color: #ada400;
}

.register-button{
    color: white;
    background: #000;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: solid 0.15rem black;
    transition-duration: 0.15s;
}

.register-button:hover{
    color: black;
    background: rgba(0,0,0,0);
    border-radius: 0.25rem;
    border: solid 0.15rem black;
    transition-duration: 0.15s;
}

.nav-hover:hover {
    color: black;
}

.side-nav {
    display: none;
}

.sideNavOpen {
    display: none;
}

.userButton {
    display: flex;
    gap: 8px;
    align-items: center;
    svg {
        font-size: 24px;
    }
}

.userButton:hover {
    color: #60794d;
    cursor: pointer
}

@media (max-width: 768px) {
    .page-links {
        display: none;
    }
    #nav {
        padding: 16px;
    }
    .side-nav {
        display: flex;
        position: fixed;
        top: 0;
        transition-duration: 0.3s;
        z-index: 5;
    }
    .nav-close {
        right: -100%;
        transition-duration: 0.3s;
    }
    .nav-open {
        right: 0;
        transition-duration: 0.3s;
    }
    .sideNavOpen {
        display: flex;
    }
}

@media (max-width: 425px) {
    .nav-close {
        right: -400px;
    }
}